body{background-color: rgb(181, 185, 255);}

h1{text-align: center;}


table{margin: 0 auto;}
th{padding:10px;}    td{padding:5px;}
tbody td{border:3px solid rgb(90, 94, 172);
    text-align: center;}

.Rappa{background-color: rgb(244, 227, 153);}
.TheHerta{background-color: rgb(227, 139, 237);}
.Clara{background-color: rgb(176, 176, 176);}

